@font-face {
    font-family: 'Krona One';
    src: url(../assets/fonts/KronaOne-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Semibold';
    src: url(../assets/fonts/KronaOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: #000;
    color: #f6f6f6;
}

.apresentacao {
    width: 74%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    .card {
        width: 50%;
    }

    .card .titulo h1 {
        margin-bottom: 26px;
        font-family: 'Krona One';
        font-size: 33px;
        line-height: 48px;
    }
    .card .titulo h1 .titulo-destaque {
        color: #22d4fd;
    }

    .card .paragrafo p {
        font-family: 'Montserrat Regular';
        font-size: 20px;
        line-height: 28px;
        text-align: justify;
    }

    .card .links {
        width: 100%;
        margin-top: 34px;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .card .links .link {
        width: 50%;
        border-radius: 1rem;
        padding: 1rem;
        background: #22d4fd;
        font-family: 'Montserrat Semibold';
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
    }
    .card .links .link:hover {
        opacity: 0.8;
    }
    .card .links .link a {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: #000;
    }

    .imagem {
        width: 50%;
        img {
            width: 90%;
        }
    }
}
