@font-face {
    font-family: 'Krona One';
    src: url(../assets/fonts/KronaOne-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Semibold';
    src: url(../assets/fonts/KronaOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: #000;
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 24px;
    color: #22d4fd;
    text-decoration: none;
    cursor: pointer;
}

.cabecalho__menu__link:hover {
    color: #007bff;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    line-height: 48px;
}
.titulo-destaque {
    color: #22d4fd;
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 22px;
    line-height: 30px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
}

.apresentacao__links__link {
    padding: 1rem 0;
    width: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid #22d4fd;
    border-radius: 8px;
    font-family: 'Montserrat Semibold', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #f6f6f6;
    cursor: pointer;
    transition: 0.5s;
}
.apresentacao__links__link:hover {
    background-color: #272727;
}

.card__imagem {
    width: 80%;
}

.rodape {
    padding: 1rem;
    background: #22d4fd;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #000;
}
